@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <title>WMTS</title>
    <link rel="stylesheet" href="https://openlayers.org/en/v4.0.1/css/ol.css" type="text/css">
    <!-- The line below is only needed for old environments like Internet Explorer and Android 4.x -->
    <script src="https://cdn.polyfill.io/v2/polyfill.min.js?features=requestAnimationFrame,Element.prototype.classList,URL"></script>
    <script src="https://openlayers.org/en/v4.0.1/build/ol.js"></script>
    <style type="text/css">
        .ol-zoomslider {
            top: 4.5em;
            left: .5em;
            height: 200px;
            border: 1px solid red;
        }

            .ol-zoomslider button {
                position: relative;
                height: 10px;
            }
    </style>
</head>
<body onload="aaa()">
    <div id="map" class="map"></div>
    <script>
        var map;
        function aaa() {
            var rome = new ol.Feature({
                geometry: new ol.geom.Point(ol.proj.fromLonLat([121.00228, 29.14696], ol.proj.get("EPSG:4326")))
            });
            rome.setStyle(new ol.style.Style({
                image: new ol.style.Icon({
                    color: '#8959A8',
                    src: 'https://openlayers.org/en/v4.0.1/examples/data/dot.png'
                })
            }));
            var vectorSource = new ol.source.Vector({
                features: [rome]
            });

            var vectorLayer = new ol.layer.Vector({
                source: vectorSource
            });

            var projection = ol.proj.get('EPSG:4326');
            var projectionExtent = projection.getExtent();
            var size = ol.extent.getWidth(projectionExtent) / 256;
            var resolutions = new Array(18);
            var matrixIds = new Array(18);
            for (var z = 0; z <= 18; ++z) {
                resolutions[z] = size / Math.pow(2, z);
                matrixIds[z] = z;
            }
            map = new ol.Map({
                logo: false,
                layers: [
                    new ol.layer.Tile({
                        name: "baseVec",
                        source: new ol.source.WMTS({
                            url: 'http://t{0-7}.tianditu.com/vec_c/wmts',
                            layer: 'vec',
                            format: 'tiles',
                            tileGrid: new ol.tilegrid.WMTS({
                                origin: ol.extent.getTopLeft(projectionExtent),
                                resolutions: resolutions,
                                matrixIds: matrixIds,
                            }),
                            matrixSet: "c", style: 'default'
                        })
                    }),
                    new ol.layer.Tile({
                        name: "baseVec1",
                        source: new ol.source.WMTS({
                            url: 'http://t{0-7}.tianditu.com/cva_c/wmts',
                            layer: 'cva',
                            format: 'tiles',
                            tileGrid: new ol.tilegrid.WMTS({
                                origin: ol.extent.getTopLeft(projectionExtent),
                                resolutions: resolutions,
                                matrixIds: matrixIds,
                            }),
                            matrixSet: "c", style: 'default'
                        })
                    }),
                    vectorLayer
                ],
                target: 'map',
                controls: ol.control.defaults({
                    attributionOptions: ({
                        collapsible: true
                    })
                }),
                view: new ol.View({
                    center: [121.00228, 29.14696],
                    projection: ol.proj.get("EPSG:4326"),
                    zoom: 14
                })
            });
            //map.addControl(new ol.control.MousePosition());
            //map.addControl(new ol.control.ZoomSlider({ minResolution: 5 }));
        }
    </script>
</body>
</html>